body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    position: fixed; /* ヘッダーを固定位置に */
    top: 0;
    right: 0;
    left: 0;
    height: 10vh;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; /* 写真より手前に表示 */
}

header h1 {
    margin: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 15px; /* 適宜余白を調整 */
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
    cursor: pointer;
}

nav a:hover {
    color: #4285f4;
}

nav .page:hover {
    color: #ff7043;
}

.back-to-top:hover {
    color: #0d47a1;
}

.fullscreen-image {
    width: 100%;
    height: calc(100vh - 20vh); /* 画面の高さいっぱいに表示 */
    background: url('./images/image.jpg') center/cover no-repeat; /* 画像を背景に表示 */
    position: relative;
    text-align: center;
    color: #fff;
    margin-top: 10vh; /* ヘッダーの高さを考慮して余白を追加 */
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

.game-container,
.page-container {
    margin-top: 20px;
}

.container h2 {
    text-align: center;
    color: #4285f4;
    margin-bottom: 20px;
}

.content {
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.game-container .content:hover {
    transform: scale(1.05);
}

.page-container .content:hover {
    transform: scale(1.03);
}

.content a {
    text-decoration: none;
    color: #4285f4;
    transition: color 0.3s ease;
    display: block;
    margin-top: 15px;
    font-weight: bold;
    padding: 8px 20px;
    cursor: pointer;
}

.content:hover a {
    color: #0d47a1;
    border-color: #0d47a1;
}

.game-container h2 {
    color: #4285f4;
}

.page-container h2 {
    color: #ff7043;
}

.page-container .content a {
    color: #ff7043;
    border-color:#ff7043;
}

.page-container .content:hover a {
    color: #e65100;
    border-color:#e65100;
}

/* #languageToggle {
    text-align: center;
    margin-bottom: 20px;
} */

/* #languageToggle button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#languageToggle button:hover {
    background-color: #0d47a1;
} */