body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    position: fixed; /* ヘッダーを固定位置に */
    top: 0;
    right: 0;
    left: 0;
    height: 10vh;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; /* 写真より手前に表示 */
}

header h1 {
    margin: 20px;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 15px; /* 適宜余白を調整 */
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
    cursor: pointer;
}

nav .game:hover {
    color: #4285f4;
}

nav .page:hover {
    color: #ff7043;
}

nav .top,
nav .languageToggle {
    position: relative;
}

nav .top:hover {
    transition: .3s;
    transform: translateY(-4px);
}

nav .languageToggle::before,
nav .languageToggle::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    background-color: #fff; /* 下線の色を指定 */
    transition: width 0.3s ease-in-out;
}

nav .languageToggle::before {
    left: 51%;
    transform: translateX(-100%);
}

nav .languageToggle::after {
    right: 51%;
    transform: translateX(100%);
}

nav .languageToggle:hover::before,
nav .languageToggle:hover::after {
    width: 50%;
}

.mobile-header {
    display: none;
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {
    .header {
        display: none; /* 通常のメニューを非表示 */
    }

    .mobile-header {
        display: flex; /* ハンバーガーアイコンを表示 */
    }
}

.image-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 20vh); /* 画面の高さいっぱいに表示 */
    overflow: hidden;
    margin-top: 10vh;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20px; /* テキストとコンテナの余白調整 */
    background-color: rgba(0, 0, 0, 0.5); /* 黒い半透明の背景 */
    color: #fff;
    text-align: right;
}

.text-overlay h2 {
    margin-bottom: 10px;
}

.text-overlay p {
    margin: 0;
}

.scroll {
    position: absolute;
    bottom: 10px;
    opacity: 0.8;
}

.scroll::before {
    animation: scroll 2.5s infinite;
    border: solid #fff;
    border-width: 0 0 1px 1px;
    content: "";
    display: inline-block;
    margin: auto;
    position: absolute;
    top: -70px;
    right: 0;
    left: 0;
    transform: rotate(-45deg);
    width: 20px;
    height: 20px;
}
@keyframes scroll {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    80% {
      transform: rotate(-45deg) translate(-30px, 30px);
    }
    0%, 80%, 100% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

.game-container,
.page-container {
    margin-top: 20px;
}

.container h2 {
    text-align: center;
    color: #4285f4;
    margin-bottom: 20px;
}

.content {
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.game-container .content:hover {
    transform: scale(1.05);
}

.page-container .content:hover {
    transform: scale(1.03);
}

.content a {
    text-decoration: none;
    color: #4285f4;
    transition: color 0.3s ease;
    display: block;
    margin-top: 15px;
    font-weight: bold;
    padding: 8px 20px;
    cursor: pointer;
}

.content:hover a {
    color: #0d47a1;
    border-color: #0d47a1;
}

.game-container h2 {
    color: #4285f4;
}

.page-container h2 {
    color: #ff7043;
}

.page-container .content a {
    color: #ff7043;
    border-color:#ff7043;
}

.page-container .content:hover a {
    color: #e65100;
    border-color:#e65100;
}

/* Navbar & Navmenu color */
:root {
    --background-navbar: rgba(33, 33, 33, 0.98);
}

.mobile-header {
    background: var(--background-navbar);
    position: fixed;
    width: 100%;
    height: 10vh;
}

/* Nav items */
.menu {
    list-style: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    margin-top: 10vh;
    padding: 0 0 10px 0;
    clear: both;
    background: var(--background-navbar);
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: scale(1, 0);
    transform-origin: top;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */
.menu a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.menu li {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 15px 0;
    margin: 0 54px;
    opacity: 0;
    transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
    display: none;
}

.menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 24px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
    background: #fff;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #fff;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
    top: 9px;
}

.navicon:after {
    bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
    width: 100%;
    height: 10vh;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Text */
.navtext {
    position: absolute;
    color: #fff;
    letter-spacing: 4px;
    font-size: 20px;
}