@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap'); /* クラシックカジノ風フォント */

body {
    font-family: 'Playfair Display', serif; /* カジノ風のフォント */
    background: #2e3b4e;
    color: #f3d9a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 3px 3px 5px #000000;
}
#timer {
    font-size: 10em;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 5px #000000;
}
#blinds-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}
.blind {
    font-size: 2em;
    background: #2e3b4e;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    flex: 1;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f3d9a4;
    text-shadow: 2px 2px 4px #000000;
}
.blind-label {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.blind-value {
    font-size: 6em;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
.settings-container {
    margin: 20px;
    font-size: 1.5em;
}
.settings-container label {
    margin-right: 10px;
}
.settings-container input {
    font-size: 1em;
    padding: 5px;
    border: 2px solid #d4af37;
    border-radius: 5px;
    background: #2e3b4e;
    color: #f3d9a4;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 10px;
    background: #d4af37;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background: #b8860b;
}

/* ポップアップメニューのスタイル */
.popup {
    display: none; /* 初期状態では非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* 半透明の黒背景 */
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.popup-content {
    background-color: #2e3b4e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #f3d9a4;
}
.popup-content select {
    font-size: 1.5em;
    padding: 10px;
    border: 2px solid #d4af37;
    border-radius: 5px;
    background: #2e3b4e;
    color: #f3d9a4;
    margin-bottom: 20px;
}
.popup-content button {
    font-size: 1.5em;
    padding: 10px 20px;
    background: #d4af37;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    transition: background 0.3s;
}
.popup-content button:hover {
    background: #b8860b;
}