body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    max-width: 600px;
    margin: auto;
}

h1, h2 {
    color: #333;
}

p {
    margin-bottom: 20px;
}

.buttonContainer {
    display: inline-flex;
}

#rollButton, #confirmButton, #reloadButton, .tileButton {
    width: 60px;
    height: 60px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

#confirmButton {
    width: auto;  /* 幅を自動調整 */
}

.tileButton {
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.tileButton.selected {
    background-color: #4CAF50;
    color: white;
}

.tileButton.disabled {
    pointer-events: none; /* クリックを無効にする */
    background-color: #999;
}

#resultMessage {
    margin-top: 20px;
}

#logContainer {
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
}

#tilesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}